@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.fontcustom {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}