.card-servico {
    display: flex;
    flex-direction: column;
    border: 2px solid #1E3A8A; /* Cor azul personalizada */
    border-radius: 12px; /* Borda arredondada */
    overflow: hidden;
    background-color: white; /* Fundo branco para o card */
  }
  
  .card-servico-content {
    padding: 16px;
    flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
  }
